body {
    background-color: #f0f0f0; 
    background-image: url("/src/assets/hbg.jpg"); 
    background-size: cover;
  }
  
  
  .holdings-container {
    margin: 50px auto; 
    width: 80%; 
    padding: 20px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
  }
  
  
  .input-container {
    margin-bottom: 20px;
  }
  
  
  .no-stocks-message {
    margin-top: 20px; 
  }
  
  
  .error-message {
    color: red; 
  }
  
  .holdings-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
  }

  .holdings-table th {
    padding: 10px; 
    background-color: #333; 
    color: white;
    text-align: left;
  }
  .holdings-table td {
    padding: 10px; 
    border: 1px solid #ddd; 
  }
  

  .holdings-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
  }
  